<div id="cuerpo">
<div class="container mt-5" >
    <div class="row">
        


        <div class="col-10">
            <div class="row">

                <div *ngFor="let solici of solicitudes" class="col-6">
                    <div class="card mt-5 nb-3">
                        <img class="card-img-top" src="https://thumbs.subefotos.com/42690f4d4ea7ef8ece45995fb71b3fa9o.jpg" alt="Card image cap" class="img-circle" width="100px">
                        <div class="card-body bg-dark text-light">
                          
                          <p>Nombre de la solicitud</p>
                          <p class="card-text">{{solici.titulo}}</p>
                        </div>
                        <ul class="list-group list-group-flush">
                          <li class="list-group-item" id="itemback">Descripcion</li>
                          <li class="list-group-item">{{solici.descripcion}}</li>
                          <li class="list-group-item " id="itemback">Estado de la solicitud</li>
                          <li class="list-group-item">{{solici.estado}}</li>
                          <li class="list-group-item " id="itemback">Fecha publicación</li>
                          <li class="list-group-item">{{solici.fecha}}</li>
                          
                        </ul>
                 
                        <button name="ver" id="ver" type="button" (click)="mostrarcotiazaciones()" class="btn btn-primary">Ver cotizaciones</button>
                        
                        <div *ngIf="cotizaiones" id="accordion">

                          <div *ngFor="let catoiza of solici.cotizacions"  class="card">
                            <div class="card-header" id="headingOne">
                              <h5 class="mb-0">
                                <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                  {{"cotizacion "+ catoiza.id}}
                                </button>
                              </h5>
                            </div>

                        
                            <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
                              <div class="card-body">
                                <a>Comentario cotizacion:</a>
                                 {{catoiza.comentario}}
                                <li>
                                  {{"Precio cotizado: "+ catoiza.precio}}
                                </li>
                                <li>
                                  {{"Identificación del proveedor: "+ catoiza.user}}
                                </li>
                                <li>
                                  {{"Estado del proveedor: "+ catoiza.estado}}
                                </li>
                                <li>
                                  {{"fecha de respuesta: "+ catoiza.fecha}}
                                </li>
                                <ul>{{"*El estado debe ser aceptado por el cliente y el proveedor para validar el negocio"}}</ul>
                              </div>
                            </div>

                            <div class="card-body">
                              <button name="aceptar" id="aceptar" type="button" (click)="modificarEstado(1,solici.id,catoiza.id)" class="btn btn-success">Aceptar</button>
                              <button type="button" id="rechazar" (click)="modificarEstado(2,solici.id,catoiza.id)" class="btn btn-danger">rechazar</button>
                              <button type="button" id="contra" (click)="modificarEstado(3,solici.id,catoiza.id)" class="btn btn btn-secondary">Contra ofertar</button>
                          
    
                            </div>
                         
                          </div>
                     
                          
                
                  
                        </div>
                        
                      </div>

                      
    
                </div>
               


            </div>
        </div>


</div>