<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<script src="http://mymaplist.com/js/vendor/TweenLite.min.js"></script>
<!-- This is a very simple parallax effect achieved by simple CSS 3 multiple backgrounds, made by http://twitter.com/msurguy -->

<div class="container">

	<div *ngIf="valido" class="alert alert-success">
		<button type="button" class="close" data-dismiss="alert">&times;</button>
		<strong>¡Credenciales aprobadas!</strong> Bienvenido
	</div>

	<div *ngIf="validoaux" class="alert alert-danger">
		<button type="button" class="close" data-dismiss="alert">&times;</button>
		<strong>Credenciales incorrectas</strong> 
	</div>

  
    <div class="row vertical-offset-100">
    	<div class="col-md-4 col-md-offset-4">
    		<div class="panel panel-default">
			  	<div class="panel-heading">
			    	<h3 class="panel-title">Please sign in</h3>
			 	</div>
			  	<div class="panel-body">
			    	<form accept-charset="UTF-8" role="form">
                    <fieldset>
			    	  	<div class="form-group">
			    		    <input [(ngModel)]="correo" class="form-control" placeholder="E-mail" id="usuario" name="correo" type="text">
			    		</div>
			    		<div class="form-group">
			    			<input [(ngModel)]="contrasena" class="form-control" placeholder="Password" id="password" name="contrasena" type="password">
			    		</div>
			    		<div class="checkbox">
			    	    	<label>
			    	    		<input name="remember" type="checkbox" value="Remember Me"> Remember Me
			    	    	</label>
			    	    </div>
						<input (click)="verificar_credenciales()" class="btn btn-lg btn-success btn-block" type="submit" value="Login" id="regis">
						<a class="btn-link" href="/forgot-password">Olvide mi contraseña</a>
			    	</fieldset>
			      	</form>
			    </div>
			</div>
		</div>
	</div>
</div>

