<!-- Masthead -->
<header class="masthead text-white text-center">
  <div class="overlay"></div>
  <div class="container">
    <div class="row">
      <div class="col-xl-9 mx-auto mb-2">
        <img src="https://reservi.s3.amazonaws.com/RESERVI-WHITE.png" width="200">
      </div>
      <div class="col-xl-9 mx-auto">
        <h1 id="test" class="mb-5 text-white">Servicios básicos hasta tu casa</h1>
      </div>
      <div class="col-md-10 col-lg-8 col-xl-7 mx-auto">
        <form>
          <div class="form-row">
            <div class="col-12 col-md-6">
              <a href="/registro" class="btn btn-block btn-lg btn-primary">¡Registrate!</a>
            </div>
            <div class="col-12 col-md-6">
              <a href="/login" class="btn btn-block btn-lg btn-primary" id="inicia">Inicia Sesión</a>
            </div>            
          </div>
        </form>
      </div>
    </div>
  </div>
</header>

<!-- Icons Grid -->
<section class="features-icons bg-light text-center">
  <div class="container">
    <div class="row">
      <div class="col-lg-4">
        <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
          <div class="features-icons-icon d-flex">
            <i class="icon-note m-auto text-primary"></i>
          </div>
          <h3>Solicita servicios</h3>
          <p class="lead mb-0">Registrate como cliente y podrás solicitar trabajos de carpintería, plomería, jardinería, electricidad, pintura, etc...</p>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
          <div class="features-icons-icon d-flex">
            <i class="icon-magnifier m-auto text-primary"></i>
          </div>
          <h3>Ofrece servicios</h3>
          <p class="lead mb-0">Registrate como proveedor y podrás ofrecer tus servicios a las solicitudes entrantes enviando cotizaciones</p>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="features-icons-item mx-auto mb-0 mb-lg-3">
          <div class="features-icons-icon d-flex">
            <i class="icon-check m-auto text-primary"></i>
          </div>
          <h3>Elige al mejor postor</h3>
          <p class="lead mb-0">Como cliente tendrás el poder de elegir al mejor postor basandote en su cotización y reputación</p>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Image Showcases -->
<section class="showcase">
  <div class="container-fluid p-0">
    <div class="row no-gutters">

      <div class="col-lg-6 order-lg-2 text-white showcase-img" style="background-image: url('https://startbootstrap.github.io/startbootstrap-landing-page/img/bg-showcase-1.jpg');"></div>
      <div class="col-lg-6 order-lg-1 my-auto showcase-text">
        <h2>Cero intermediarios</h2>
        <p class="lead mb-0">Negociación directa entre cliente y proveedor de servicios. Olvidate de pagar comisión por trabajo</p>
      </div>
    </div>
    <div class="row no-gutters">
      <div class="col-lg-6 text-white showcase-img" style="background-image: url('https://startbootstrap.github.io/startbootstrap-landing-page/img/bg-showcase-2.jpg');"></div>
      <div class="col-lg-6 my-auto showcase-text">
        <h2>Pago al finalizar el servicio</h2>
        <p class="lead mb-0">Pago directo a proveedores al finalizar el servicio</p>
      </div>
    </div>
    <div class="row no-gutters">
      <div class="col-lg-6 order-lg-2 text-white showcase-img" style="background-image: url('https://startbootstrap.github.io/startbootstrap-landing-page/img/bg-showcase-3.jpg');"></div>
      <div class="col-lg-6 order-lg-1 my-auto showcase-text">
        <h2>Reputación</h2>
        <p class="lead mb-0">Calificación entre clientes y proveedores por medio de una pequeña encuesta de satisfacción</p>
      </div>
    </div>
  </div>
</section>

<!-- Testimonials -->
<section class="testimonials text-center bg-light">
  <div class="container">
    <h2 class="mb-5">Qué dice la gente...</h2>
    <div class="row">
      <div class="col-lg-4">
        <div class="testimonial-item mx-auto mb-5 mb-lg-0">
          <img class="img-fluid rounded-circle mb-3" src="img/testimonials-1.jpg" alt="">
          <h5>Pablo G.</h5>
          <p class="font-weight-light mb-0">"¡Esto es genial! Nunca habia sido tan facil arreglar mi calentador"</p>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="testimonial-item mx-auto mb-5 mb-lg-0">
          <img class="img-fluid rounded-circle mb-3" src="img/testimonials-2.jpg" alt="">
          <h5>Nicolas M.</h5>
          <p class="font-weight-light mb-0">"Tú pones el presupuesto y eliges la mejor oferta, muy bueno."</p>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="testimonial-item mx-auto mb-5 mb-lg-0">
          <img class="img-fluid rounded-circle mb-3" src="img/testimonials-3.jpg" alt="">
          <h5>Sara W.</h5>
          <p class="font-weight-light mb-0">"Excelente forma de solicitar servicios basicos."</p>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Call to Action -->
<!-- <section class="call-to-action text-white text-center">
  <div class="overlay"></div>
  <div class="container">
    <div class="row">
      <div class="col-xl-9 mx-auto">
        <h2 class="mb-4">Ready to get started? Sign up now!</h2>
      </div>
      <div class="col-md-10 col-lg-8 col-xl-7 mx-auto">
        <form>
          <div class="form-row">
            <div class="col-12 col-md-9 mb-2 mb-md-0">
              <input type="email" class="form-control form-control-lg" placeholder="Enter your email...">
            </div>
            <div class="col-12 col-md-3">
              <button type="submit" class="btn btn-block btn-lg btn-primary">Sign up!</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</section> -->

<!-- Footer -->
<footer class="footer bg-light">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 h-100 text-center text-lg-left my-auto">
        <!-- <ul class="list-inline mb-2">
          <li class="list-inline-item">
            <a href="#">About</a>
          </li>
          <li class="list-inline-item">&sdot;</li>
          <li class="list-inline-item">
            <a href="#">Contact</a>
          </li>
          <li class="list-inline-item">&sdot;</li>
          <li class="list-inline-item">
            <a href="#">Terms of Use</a>
          </li>
          <li class="list-inline-item">&sdot;</li>
          <li class="list-inline-item">
            <a href="#">Privacy Policy</a>
          </li>
        </ul> -->
        <p class="text-muted small mb-4 mb-lg-0">&copy; Reservi 2020. Todos los derechos reservados.</p>
      </div>
      <div class="col-lg-6 h-100 text-center text-lg-right my-auto">
        <ul class="list-inline mb-0">
          <li class="list-inline-item mr-3">
            <a href="#">
              <i class="fab fa-facebook fa-2x fa-fw"></i>
            </a>
          </li>
          <li class="list-inline-item mr-3">
            <a href="#">
              <i class="fab fa-twitter-square fa-2x fa-fw"></i>
            </a>
          </li>
          <li class="list-inline-item">
            <a href="#">
              <i class="fab fa-instagram fa-2x fa-fw"></i>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>