<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<script src="http://mymaplist.com/js/vendor/TweenLite.min.js"></script>
<!-- This is a very simple parallax effect achieved by simple CSS 3 multiple backgrounds, made by http://twitter.com/msurguy -->

<div class="container">

	<div *ngIf="valido" class="alert alert-success">
		<button type="button" class="close" data-dismiss="alert">&times;</button>
		<strong>¡Credenciales aprobadas!</strong> Bienvenido
	</div>

	<div *ngIf="validoaux" class="alert alert-danger">
		<button type="button" class="close" data-dismiss="alert">&times;</button>
		<strong>Credenciales incorrectas</strong> 
	</div>
  
    <div class="row vertical-offset-100">
    	<div class="col-md-4 col-md-offset-4">
    		<div class="panel panel-default">
			  	<div class="panel-heading">
			    	<h3 class="panel-title">Restaurar contraseña</h3>
			 	</div>
			  	<div class="panel-body" *ngIf="emailform">
			    	<form accept-charset="UTF-8" role="form">
                    <fieldset>
			    	  	<div class="form-group">
			    		    <input [(ngModel)]="correo" class="form-control" placeholder="E-mail" name="correo" type="text">
			    		</div>
			    		<input (click)="enviar_correo()" class="btn btn-lg btn-success btn-block" type="submit" value="Enviar correo">
			    	</fieldset>
			      	</form>
				</div>
				<div class="panel-body" *ngIf="passwordform">
			    	<form accept-charset="UTF-8" role="form">
                    <fieldset>
						<div class="form-group">
			    			<input [(ngModel)]="contrasena" class="form-control" placeholder="Contraseña" name="contrasena" type="password">
			    			<input [(ngModel)]="contrasenaconfirm" class="form-control" placeholder="Confirmar" name="contrasenaconfirm" type="password">
			    		</div>
			    		<input (click)="guardarcontrasena()" class="btn btn-lg btn-success btn-block" type="submit" value="Restablecer Contraseña">
			    	</fieldset>
			      	</form>
			    </div>
			</div>
		</div>
	</div>
</div>