
<h2>COTIZACIONES</h2>
<div id="cuerpo">
    <div class="container mt-5" >
        <div class="row">
            
    
    
            <div class="col-10">
                <div class="row">
    
                    <div *ngFor="let cotiza of cotizacioness" class="col-6">
                        <div class="card mt-5 nb-3">
                            <img class="card-img-top" src="https://thumbs.subefotos.com/42690f4d4ea7ef8ece45995fb71b3fa9o.jpg" alt="Card image cap" class="img-circle" width="100px">
                            <div class="card-body bg-dark text-light">
                              
                              <p>Comentario propuesto a la solicitud</p>
                              <p class="card-text">{{cotiza.comentario}}</p>
                            </div>
                            <ul class="list-group list-group-flush">
                              <li class="list-group-item" id="itemback">Precio</li>
                              <li class="list-group-item">{{cotiza.precio}}</li>
                              <li class="list-group-item " id="itemback">Estado de la cotización</li>
                              <li class="list-group-item">{{cotiza.estado}}</li>
                              <li class="list-group-item " id="itemback">Fecha publicación</li>
                              <li class="list-group-item">{{cotiza.fecha}}</li>
                              
                            </ul>
                            <button id="vers" type="button" (click)="verSol()" class="btn btn btn-primary">Ver solicitudes</button>
                            <div *ngIf="verSolicitud" class="card-body">
                              <li class="list-group-item " id="itemback">Datos de la solicitud</li>
                              <li>{{"Titulo: " + cotiza.solicitud.titulo }}</li>
                              <li>{{"Descripcion: " + cotiza.solicitud.descripcion }}</li>
                              <li>{{"Estado: " + cotiza.solicitud.estado }}</li>
                              <li>{{"Dirección: " + cotiza.solicitud.direccion_servicio }}</li>
                              <li>{{"Fecha solicitud: " + cotiza.solicitud.fecha }}</li>
                              <li>{{"Id solicitud: " + cotiza.solicitud.id }}</li>
                            </div>

                            <div class="card-body">
                              <button id="aceptar" type="button" (click)="modificarEstado(1,cotiza.solicitud.id,cotiza.id)" class="btn btn-success">Aceptar</button>
                              <button id="rechazar" type="button" (click)="modificarEstado(2,cotiza.solicitud.id,cotiza.id)" class="btn btn-danger">rechazar</button>
                              <button id="contra" type="button" (click)="modificarEstado(3,cotiza.solicitud.id,cotiza.id)" class="btn btn btn-secondary">Contra ofertar</button>
                          
    
                            </div>
                          </div>
        
                    </div>
                   
    
    
                </div>
            </div>
        </div>
    </div>
    
    </div>